* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    margin: 0;       
    padding: 0;     
    height: 100%;  
}

header{
    background-color: blueviolet;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 20px;
}
ul{
    display: flex;
    gap: 8%;
    list-style: none;
}
section{
    background-color: white;
    padding-top: 20px;
    height: 100%;
    
}

.destaque {
  color: black;
  background-color:white;
  padding: 20px;
  border: 2px solid black;
  list-style: none;
}
.resp{
   
    background-color: white;
    color: black;
    margin: 2%;
    border: 2px solid black ;
    border-radius: 10px;
}