* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    margin: 0;       
    padding: 0;     
    height: 100%;  
}

header{
    background-color: blueviolet;
    padding: 20px;
}
section{
    background-color: black;
    padding-top: 20px;
    height: 100%;
    
}

.destaque {
  color: white;
  background-color:black;
  padding: 20px;
  border: 2px solid black;
}